.main-cta[data-v-cb137e28] {
    position: fixed;
    left: 3.125rem;
    top: 3.125rem;
    font-size: 14px;
    font-family: ShipleyRegular;
    display: flex;
    width: 2.4em;
    flex-wrap: wrap;
    line-height: 1.5;
    z-index: 5
}

@media (max-width:767px) {
    .main-cta[data-v-cb137e28] {
        left: 1.5rem;
        top: 1.5rem
    }
}

.main-cta[data-v-cb137e28]:before {
    content: "";
    display: block;
    height: 80%;
    width: 1px;
    background-color: #000;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-right: .3125em;
    transform: translateY(-50%) scaleY(0);
    transform-origin: 50% 100%;
    transition: transform .3s ease
}

.main-cta[data-v-cb137e28]:after {
    content: "";
    display: block;
    height: 1px;
    width: 90%;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%) scaleX(1);
    margin-top: .3125em;
    transform-origin: 0 50%;
    transition: transform .3s ease .3s
}

.main-cta[data-v-cb137e28] .letter {
    display: inline-block;
    width: 1.2em;
    transition: transform .3s ease;
    will-change: transform
}

.main-cta[data-v-cb137e28] .letter:nth-child(2n) {
    text-align: center
}

.main-cta[data-v-cb137e28] .letter:first-child {
    transition-delay: .05s
}

.main-cta[data-v-cb137e28] .letter:nth-child(2) {
    transition-delay: .15s
}

.main-cta[data-v-cb137e28] .letter:nth-child(3) {
    transition-delay: 0s
}

.main-cta[data-v-cb137e28] .letter:nth-child(4) {
    transition-delay: .1s
}

.main-cta[data-v-cb137e28]:hover:before {
    transform: translateY(-50%) scaleY(1);
    transition: transform .3s ease .2s
}

.main-cta[data-v-cb137e28]:hover:after {
    transform: translateX(-50%) scaleX(0);
    transition: transform .3s
}

.main-cta[data-v-cb137e28]:hover .letter {
    transform: translateX(50%);
    transition: transform .3s ease .3s
}

.main-cta[data-v-cb137e28]:hover .letter:first-child {
    transition-delay: .3s
}

.main-cta[data-v-cb137e28]:hover .letter:nth-child(2) {
    transition-delay: .2s
}

.main-cta[data-v-cb137e28]:hover .letter:nth-child(3) {
    transition-delay: .35s
}

.main-cta[data-v-cb137e28]:hover .letter:nth-child(4) {
    transition-delay: .25s
}

canvas[data-v-74ad1fe8] {
    position: absolute;
    left: 0;
    top: 0
}

.canvas-text[data-v-26f73ff5] {
    position: relative;
    overflow: hidden;
    pointer-events: none
}

h2[data-v-26f73ff5] {
    opacity: 0
}

canvas[data-v-26f73ff5] {
    position: absolute;
    left: 0;
    bottom: 100%;
    pointer-events: none
}

canvas.main-text[data-v-26f73ff5] {
    opacity: 0
}

.caption[data-v-26f73ff5] {
    opacity: 0;
    pointer-events: none
}

.caption .row[data-v-26f73ff5] {
    display: block
}

.map-cta[data-v-7d002b6f] {
    position: fixed;
    right: 3.125rem;
    top: 3.125rem;
    min-height: 2.625rem;
    font-size: 14px;
    font-family: ShipleyRegular;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    letter-spacing: .4em;
    z-index: 5;
    flex-direction: column
}

@media (max-width:767px) {
    .map-cta[data-v-7d002b6f] {
        right: 1.5rem;
        top: 1.5rem
    }
}

img[data-v-7d002b6f] {
    width: 74px;
    height: auto;
    margin-top: .825em;
    will-change: transform
}

.caption[data-v-7d002b6f] {
    display: inline-flex;
    justify-content: center
}

.caption[data-v-7d002b6f] .letter {
    will-change: transform;
    text-transform: uppercase
}

.main-menu[data-v-21040962] {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fdfcf5;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between
}

@media (max-width:767px) {
    .main-menu[data-v-21040962] {
        justify-content: flex-start
    }
}

.background[data-v-21040962] {
    background-image: url(/assets/images/grille.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

@media (max-width:767px) {
    .background[data-v-21040962] {
        background-size: cover;
        background-position: 0 0
    }
}

.close[data-v-21040962] {
    font-size: .75rem;
    position: absolute;
    color: #c23d2a;
    letter-spacing: .4em;
    font-family: ShipleyRegular;
    left: 9.5vw;
    margin-top: 2.5vw;
    top: 5vw;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg)
}

@media (max-width:767px) {
    .close[data-v-21040962] {
        left: 5vw;
        margin-top: 10.5vw
    }
}

.main-logo[data-v-21040962] {
    width: 15vw;
    display: block;
    height: auto;
    margin-top: 5vw;
    max-width: 288px;
    margin-left: 18.75%
}

@media (max-width:767px) {
    .main-logo[data-v-21040962] {
        margin-left: 28.75%;
        width: 40vw;
        margin-top: 11vw
    }
}

.main-section[data-v-21040962] {
    display: block;
    margin-left: 18.75%;
    position: relative;
    font-size: 4.5rem;
    font-family: ShipleyRegular;
    letter-spacing: .2em;
    line-height: 2.22em
}

@media (max-width:767px) {
    .main-section[data-v-21040962] {
        margin-left: 15%;
        font-size: 1.875rem;
        margin-top: 1em;
        line-height: 3em
    }
    .main-section a[data-v-21040962] {
        white-space: nowrap
    }
}

.main-section .indicator[data-v-21040962] {
    border: 1px solid #a0a095;
    position: absolute;
    right: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    margin-right: 8.825vw;
    overflow: hidden
}

.main-section .indicator .thumb[data-v-21040962] {
    width: 4px;
    height: 25%;
    background-color: #c23d2a
}

.main-section .canvas-text[data-v-21040962] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.main-section .canvas-text[data-v-21040962] canvas {
    left: 0
}

.main-section a[data-v-21040962] {
    display: block;
    opacity: 0
}

.footer[data-v-21040962] {
    font-family: ShipleyRegular;
    font-size: .8125rem;
    margin-left: 9.25%;
    margin-right: 4.6875%;
    margin-bottom: 3.125vw;
    margin-top: 3.125vw;
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    letter-spacing: .15em;
    white-space: nowrap
}

@media (max-width:767px) {
    .footer[data-v-21040962] {
        font-size: .9375rem;
        margin-left: 15%;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        display: block
    }
}

.footer .mobile[data-v-21040962] {
    display: none
}

@media (max-width:767px) {
    .footer .mobile[data-v-21040962] {
        display: flex;
        flex-direction: column;
        padding-bottom: 6rem
    }
    .footer .mobile .row-mobile[data-v-21040962] {
        margin-top: 1.5rem
    }
}

@media (min-width:768px) {
    .footer .langs[data-v-21040962] {
        min-width: 9.625vw
    }
}

@media (max-width:767px) {
    .footer .langs[data-v-21040962] {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f9f6ee;
        height: 3rem;
        padding-left: 15%;
        display: flex;
        align-items: center
    }
}

.footer .sect[data-v-21040962] {
    display: flex
}

.footer a[data-v-21040962] {
    display: inline-flex;
    margin-right: 1em;
    flex-direction: column
}

.footer a.router-link-exact-active[data-v-21040962] {
    color: #c23d2a
}

.footer a.router-link-exact-active[data-v-21040962]:after {
    background-color: #c23d2a;
    transform: scaleX(1)
}

.footer .sharing[data-v-21040962] {
    letter-spacing: .4em
}

.footer .sharing a+a[data-v-21040962] {
    margin-left: 2.5em
}

.footer .made[data-v-21040962] {
    font-size: .75rem;
    color: #625e54;
    letter-spacing: .05em;
    font-style: italic;
    margin-left: 12.5%
}

@media (max-width:767px) {
    .footer .made[data-v-21040962] {
        font-size: .9375rem;
        margin-left: 0
    }
}

@media (max-width:767px) {
    .footer .desktop[data-v-21040962],
    .map-cta[data-v-21040962] {
        display: none
    }
}

.cookie-banner[data-v-1bee10f1] {
    position: fixed;
    bottom: 3.125vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fdfcf5;
    font-size: 1.0625em;
    height: 4em;
    margin-bottom: -1.5em;
    display: flex;
    align-items: center;
    padding-left: 2.5em;
    padding-right: 2.5em;
    z-index: 20
}

@media (max-width:767px) {
    .cookie-banner[data-v-1bee10f1] {
        display: none
    }
}

.cookie-banner p[data-v-1bee10f1] {
    margin-right: 5vw;
    white-space: nowrap
}

.cookie-banner button[data-v-1bee10f1] {
    cursor: pointer
}

.cookie-banner button[data-v-1bee10f1]:hover {
    color: #c23d2a
}

.cookie-banner.v-enter-active[data-v-1bee10f1],
.cookie-banner.v-leave-active[data-v-1bee10f1] {
    transition: opacity .3s
}

.cookie-banner.v-active[data-v-1bee10f1],
.cookie-banner.v-leave-to[data-v-1bee10f1] {
    opacity: 0
}

.sizes-viewport-dummy {
    height: 100vh;
    height: calc(var(--vh, 1vh)*100)
}

.scene[data-v-e6107ffe] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.logo[data-v-e6107ffe] {
    position: absolute;
    top: calc(20% - 46.5px);
    left: calc(50% - 144px);
    width: 288px;
    height: 93px;
    background-image: url(/assets/images/logo.png);
    background-size: cover;
    will-change: opacity
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .logo[data-v-e6107ffe] {
        background-image: url(/assets/images/logo-2x.png)
    }
}

@media (max-width:767px) {
    .logo[data-v-e6107ffe] {
        top: calc(20% - 23.5px);
        left: calc(50% - 72px);
        width: 144px;
        height: 47px
    }
}

.content[data-v-e6107ffe] {
    display: flex;
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 25%;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6vw;
    letter-spacing: .25em;
    line-height: 1.75;
    text-transform: uppercase
}

.content .content-inner[data-v-e6107ffe] {
    width: 100%
}

.content .dot[data-v-e6107ffe] {
    font-size: 0
}

@media (max-width:767px) {
    .content[data-v-e6107ffe] {
        font-size: 2.6vw;
        position: absolute;
        top: 25%;
        bottom: 25%;
        left: 10%;
        width: 80%
    }
}

.enter-button[data-v-e6107ffe] {
    position: absolute;
    bottom: 25%;
    left: 50%;
    cursor: pointer;
    text-transform: none
}

.enter-button .label[data-v-e6107ffe] {
    display: flex;
    position: absolute;
    text-align: center;
    font-size: 1.6vw;
    letter-spacing: .25em;
    line-height: 1.75
}

@media (max-width:767px) {
    .enter-button .label[data-v-e6107ffe] {
        font-size: 3.2vw
    }
}

.enter-button .label .black[data-v-e6107ffe],
.enter-button .label .red[data-v-e6107ffe] {
    display: block;
    position: absolute;
    left: -100px;
    top: -30px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: .25em
}

.enter-button .label .black.red[data-v-e6107ffe],
.enter-button .label .red.red[data-v-e6107ffe] {
    color: #c23d2a;
    will-change: opacity
}

.enter-button .label .black.black .enter-button .label .black[data-v-e6107ffe] .letter,
.enter-button .label .black.black .enter-button .label .red[data-v-e6107ffe] .letter,
.enter-button .label .red.black .enter-button .label .black[data-v-e6107ffe] .letter,
.enter-button .label .red.black .enter-button .label .red[data-v-e6107ffe] .letter {
    opacity: 0;
    will-change: opacity
}

.enter-button .icon[data-v-e6107ffe] {
    position: absolute;
    top: 35px;
    left: 0
}

.enter-button .icon .bar-1[data-v-e6107ffe] {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 25px;
    background: #c23d2a;
    transform-origin: 0 0;
    will-change: opacity
}

.enter-button .icon .bar-2[data-v-e6107ffe] {
    position: absolute;
    top: 25px;
    left: -3px;
    width: 7px;
    height: 1px;
    background: #c23d2a;
    will-change: opacity
}

.enter-button .icon .black .bar-1[data-v-e6107ffe],
.enter-button .icon .black .bar-2[data-v-e6107ffe] {
    background: #000
}

canvas[data-v-e6107ffe] {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0
}

.intro .content .word[data-v-e6107ffe] .letter {
    transition-property: opacity
}

.enter-button .red .intro.v-enter[data-v-e6107ffe] .letter,
.intro.v-enter .content .word[data-v-e6107ffe] .letter,
.intro.v-enter .logo[data-v-e6107ffe],
.intro.v-enter .navigation[data-v-e6107ffe] {
    opacity: 0
}

.intro.v-enter .enter-button .icon .red .bar-1[data-v-e6107ffe],
.intro.v-enter .enter-button .icon .red .bar-2[data-v-e6107ffe] {
    transform: scaleY(0)
}

.intro.v-enter-to .content .word[data-v-e6107ffe] .letter,
.intro.v-enter-to .enter-button .red[data-v-e6107ffe] .letter,
.intro.v-enter-to .logo[data-v-e6107ffe] {
    opacity: 1;
    transition-duration: 2s
}

.intro.v-enter-to .content .word[data-v-e6107ffe] .letter,
.intro.v-enter-to .logo[data-v-e6107ffe] {
    transition-delay: .2s
}

.intro.v-enter-to .navigation[data-v-e6107ffe] {
    opacity: 1
}

.intro.v-enter-to .enter-button .red[data-v-e6107ffe] .letter:first-child {
    transition-delay: 2.2s
}

.intro.v-enter-to .enter-button .red[data-v-e6107ffe] .letter:nth-child(2) {
    transition-delay: 2.1s
}

.intro.v-enter-to .enter-button .red[data-v-e6107ffe] .letter:nth-child(3) {
    transition-delay: 2s
}

.intro.v-enter-to .enter-button .red[data-v-e6107ffe] .letter:nth-child(4) {
    transition-delay: 2.2s
}

.intro.v-enter-to .enter-button .red[data-v-e6107ffe] .letter:nth-child(5) {
    transition-delay: 2.3s
}

.intro.v-enter-to .enter-button .red[data-v-e6107ffe] .letter:nth-child(6) {
    transition-delay: 2.4s
}

.intro.v-enter-to .enter-button .icon .red .bar-1[data-v-e6107ffe] {
    transition-property: transform;
    transition-duration: 1s;
    transition-delay: 2.5s;
    transform: scaleY(1)
}

.intro.v-enter-to .enter-button .icon .red .bar-2[data-v-e6107ffe] {
    transition-property: transform;
    transition-duration: 1s;
    transition-delay: 3.3s;
    transform: scaleY(1)
}

.intro.v-leave-active .enter-button[data-v-e6107ffe] {
    pointer-events: none
}

.intro.v-leave-active .content .word[data-v-e6107ffe] .letter,
.intro.v-leave-active .enter-button .black[data-v-e6107ffe] .letter,
.intro.v-leave-active .enter-button .red[data-v-e6107ffe] .letter,
.intro.v-leave-active .logo[data-v-e6107ffe] {
    transition-duration: .6s !important;
    opacity: 0 !important
}

.intro.v-leave-active .content .word[data-v-e6107ffe] .letter,
.intro.v-leave-active .enter-button .black[data-v-e6107ffe] .letter:first-child,
.intro.v-leave-active .enter-button .red[data-v-e6107ffe] .letter:first-child,
.intro.v-leave-active .logo[data-v-e6107ffe] {
    transition-delay: .2s
}

.intro.v-leave-active .enter-button .black[data-v-e6107ffe] .letter:nth-child(2),
.intro.v-leave-active .enter-button .red[data-v-e6107ffe] .letter:nth-child(2) {
    transition-delay: .1s
}

.intro.v-leave-active .enter-button .black[data-v-e6107ffe] .letter:nth-child(3),
.intro.v-leave-active .enter-button .red[data-v-e6107ffe] .letter:nth-child(3) {
    transition-delay: 0s
}

.intro.v-leave-active .enter-button .black[data-v-e6107ffe] .letter:nth-child(4),
.intro.v-leave-active .enter-button .red[data-v-e6107ffe] .letter:nth-child(4) {
    transition-delay: .2s
}

.intro.v-leave-active .enter-button .black[data-v-e6107ffe] .letter:nth-child(5),
.intro.v-leave-active .enter-button .red[data-v-e6107ffe] .letter:nth-child(5) {
    transition-delay: .3s
}

.intro.v-leave-active .enter-button .black[data-v-e6107ffe] .letter:nth-child(6),
.intro.v-leave-active .enter-button .red[data-v-e6107ffe] .letter:nth-child(6) {
    transition-delay: .4s
}

.intro.v-leave-active .enter-button .icon .black .bar-1[data-v-e6107ffe],
.intro.v-leave-active .enter-button .icon .red .bar-1[data-v-e6107ffe] {
    transition-property: transform;
    transition-duration: .6s;
    transition-delay: .4s;
    transform: scaleY(0)
}

.intro.v-leave-active .enter-button .icon .black .bar-2[data-v-e6107ffe],
.intro.v-leave-active .enter-button .icon .red .bar-2[data-v-e6107ffe] {
    transition-property: transform;
    transition-duration: .6s;
    transition-delay: 0s;
    transform: scaleY(0)
}

.intro.v-leave-to .navigation[data-v-e6107ffe] {
    opacity: 0
}

.enter-button .label[data-v-e6107ffe] .letter {
    transition-property: opacity;
    transition-duration: .45s;
    will-change: opacity
}

.enter-button .label .red[data-v-e6107ffe] .letter {
    opacity: 1
}

.enter-button .label .red[data-v-e6107ffe] .letter:first-child {
    transition-delay: .5s
}

.enter-button .label .red[data-v-e6107ffe] .letter:nth-child(2) {
    transition-delay: .4s
}

.enter-button .label .red[data-v-e6107ffe] .letter:nth-child(3) {
    transition-delay: .3s
}

.enter-button .label .red[data-v-e6107ffe] .letter:nth-child(4) {
    transition-delay: .5s
}

.enter-button .label .red[data-v-e6107ffe] .letter:nth-child(5) {
    transition-delay: .6s
}

.enter-button .label .red[data-v-e6107ffe] .letter:nth-child(6) {
    transition-delay: .7s
}

.enter-button .label .black[data-v-e6107ffe] .letter {
    opacity: 0
}

.enter-button .label .black[data-v-e6107ffe] .letter:first-child {
    transition-delay: .2s
}

.enter-button .label .black[data-v-e6107ffe] .letter:nth-child(2) {
    transition-delay: .1s
}

.enter-button .label .black[data-v-e6107ffe] .letter:nth-child(3) {
    transition-delay: 0s
}

.enter-button .label .black[data-v-e6107ffe] .letter:nth-child(4) {
    transition-delay: .2s
}

.enter-button .label .black[data-v-e6107ffe] .letter:nth-child(5) {
    transition-delay: .3s
}

.enter-button .label .black[data-v-e6107ffe] .letter:nth-child(6) {
    transition-delay: .1s
}

.enter-button .icon .red .bar-1[data-v-e6107ffe] {
    transform: scaleY(1);
    transition-property: transform;
    transition-duration: .6s;
    transition-delay: .8s;
    transform-origin: 0 100%
}

.enter-button .icon .red .bar-2[data-v-e6107ffe] {
    transform: scaleX(1);
    transition-property: transform;
    transition-duration: .6s;
    transition-delay: .4s
}

.enter-button .icon .black .bar-1[data-v-e6107ffe] {
    transform: scaleY(0);
    transition-property: transform;
    transition-duration: .6s;
    transition-delay: .4s
}

.enter-button .icon .black .bar-2[data-v-e6107ffe] {
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: .6s;
    transition-delay: 0s
}

.enter-button:hover .label .red[data-v-e6107ffe] .letter {
    opacity: 0
}

.enter-button:hover .label .red[data-v-e6107ffe] .letter:first-child {
    transition-delay: .2s
}

.enter-button:hover .label .red[data-v-e6107ffe] .letter:nth-child(2) {
    transition-delay: .1s
}

.enter-button:hover .label .red[data-v-e6107ffe] .letter:nth-child(3) {
    transition-delay: 0s
}

.enter-button:hover .label .red[data-v-e6107ffe] .letter:nth-child(4) {
    transition-delay: .2s
}

.enter-button:hover .label .red[data-v-e6107ffe] .letter:nth-child(5) {
    transition-delay: .3s
}

.enter-button:hover .label .red[data-v-e6107ffe] .letter:nth-child(6) {
    transition-delay: .1s
}

.enter-button:hover .label .black[data-v-e6107ffe] .letter {
    opacity: 1
}

.enter-button:hover .label .black[data-v-e6107ffe] .letter:first-child {
    transition-delay: .5s
}

.enter-button:hover .label .black[data-v-e6107ffe] .letter:nth-child(2) {
    transition-delay: .4s
}

.enter-button:hover .label .black[data-v-e6107ffe] .letter:nth-child(3) {
    transition-delay: .3s
}

.enter-button:hover .label .black[data-v-e6107ffe] .letter:nth-child(4) {
    transition-delay: .5s
}

.enter-button:hover .label .black[data-v-e6107ffe] .letter:nth-child(5) {
    transition-delay: .6s
}

.enter-button:hover .label .black[data-v-e6107ffe] .letter:nth-child(6) {
    transition-delay: .7s
}

.enter-button:hover .icon .red .bar-1[data-v-e6107ffe] {
    transform: scaleY(0);
    transition-delay: 0s
}

.enter-button:hover .icon .red .bar-2[data-v-e6107ffe] {
    transform: scaleX(0);
    transition-delay: .4s
}

.enter-button:hover .icon .black .bar-1[data-v-e6107ffe] {
    transform: scaleY(1);
    transition-delay: .4s
}

.enter-button:hover .icon .black .bar-2[data-v-e6107ffe] {
    transform: scaleX(1);
    transition-delay: .8s
}

.navigation[data-v-e6107ffe] {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    transition: opacity 2s;
    font-family: ShipleyRegular;
    font-size: .8125rem;
    padding-left: 5%;
    padding-right: 4.6875%;
    padding-bottom: 3.125vw;
    padding-top: 3.125vw;
    letter-spacing: .15em;
    white-space: nowrap
}

.navigation .langs[data-v-e6107ffe] {
    display: flex;
    margin-right: 2.5vw
}

.navigation .langs a[data-v-e6107ffe] {
    margin-right: 1em;
    flex-direction: column
}

.navigation .langs a.router-link-exact-active[data-v-e6107ffe] {
    color: #c23d2a
}

.navigation .langs a.router-link-exact-active[data-v-e6107ffe]:after {
    background-color: #c23d2a;
    transform: scaleX(1)
}

@media (max-width:767px) {
    .navigation[data-v-e6107ffe] {
        background-color: #f9f6ee;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 8.25%;
        padding-right: 8.25%;
        padding-bottom: 0;
        padding-top: 0;
        height: 3em
    }
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1.2
}

*,
:after,
:before {
    box-sizing: border-box
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

button,
input,
select,
textarea {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    border-radius: 0;
    -webkit-padding-start: 0;
    align-items: flex-start;
    text-indent: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    line-height: 1em
}

button,
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=file],
input[type=month],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=submit],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    height: 1em;
    -webkit-appearance: none;
    -webkit-appearance--moz-appearance: none;
    -webkit-appearance--moz-appearance-appearance: none
}

input[type=color] {
    width: 1em
}

details,
summary {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-text-size-adjust--moz-text-size-adjust: 100%;
    -webkit-text-size-adjust--moz-text-size-adjust-text-size-adjust: 100%
}

hr {
    height: 1px;
    margin: 0;
    padding: 0
}

u {
    text-decoration: none
}

table th {
    text-align: left
}

a {
    color: inherit;
    outline: none;
    cursor: pointer;
    text-decoration: none
}

@font-face {
    font-family: ShipleyRegular;
    src: url(/assets/fonts/ShipleyRegular.woff2) format("woff2"), url(/assets/fonts/ShipleyRegular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ShipleyItalic;
    src: url(/assets/fonts/ShipleyItalic.woff2) format("woff2"), url(/assets/fonts/ShipleyItalic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Sabon LT Std;
    src: url(/assets/fonts/SabonLTStd-Bold.woff2) format("woff2"), url(/assets/fonts/SabonLTStd-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: SabonNext LT;
    src: url(/assets/fonts/SabonNextLT-BlackItalic.woff2) format("woff2"), url(/assets/fonts/SabonNextLT-BlackItalic.woff) format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Sabon LT Std;
    src: url(/assets/fonts/SabonLTStd-Roman.woff2) format("woff2"), url(/assets/fonts/SabonLTStd-Roman.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

html {
    background-color: #fdfcf5
}

@media (max-width:374px) {
    html {
        font-size: 4.2666666667vw
    }
}

@media (min-width:768px) {
    html {
        font-size: .8333333333vw
    }
}

@media (min-width:1024px) {
    html {
        font-size: .8333333333vw
    }
}

@media (min-width:1920px) {
    html {
        font-size: 16px
    }
}

#app {
    font-family: Sabon LT Std, Times New Roman, Times, serif
}

.page-gabarit {
    position: relative;
    z-index: 1
}

@media (max-width:767px) {
    .page-gabarit .highlight,
    .page-gabarit .mobile-inline,
    .page-gabarit .specifications,
    .page-gabarit .text {
        margin-left: auto;
        margin-right: auto;
        max-width: 23.4375rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem
    }
}

.page {
    position: relative;
    z-index: 1
}

.main-title {
    max-width: 930px;
    margin: auto;
    font-size: 4.5rem
}

.main-title,
.text-heading {
    color: #c23d2a;
    font-family: ShipleyRegular
}

.text-heading {
    font-size: 4.375rem;
    line-height: 1.2857142857;
    letter-spacing: .2em;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

@media (max-width:767px) {
    .text-heading {
        font-size: 1.625rem;
        max-width: 100%;
        align-items: center;
        display: inline-flex;
        flex-direction: column
    }
}

.crossed {
    margin-bottom: 1.7em
}

.crossed:after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    height: 2.25rem;
    width: 2.25rem;
    background-image: url(/assets/images/cross.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

@media (max-width:767px) {
    .crossed:after {
        height: 1.40625rem;
        width: 1.40625rem
    }
}

.text {
    font-size: 1.5625rem;
    line-height: 1.52;
    margin-left: auto;
    margin-right: auto
}

@media (max-width:767px) {
    .text {
        font-size: .9375rem
    }
}

.text.align-left {
    max-width: 33.5rem;
    margin-left: 53.5416666667%
}

@media (max-width:767px) {
    .text.align-left {
        margin-left: auto;
        max-width: 23.4375rem
    }
}

.text.column {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 5rem;
    column-gap: 5rem;
    max-width: 71.25rem
}

@media (max-width:767px) {
    .text.column {
        -moz-column-count: 1;
        column-count: 1;
        max-width: 23.4375rem
    }
}

.text h3 {
    font-size: 2.375rem;
    font-family: ShipleyRegular;
    letter-spacing: .15em;
    line-height: 1.4473684211;
    margin-bottom: 1em
}

@media (max-width:767px) {
    .text h3 {
        font-size: 1.40625rem
    }
}

.text p {
    max-width: 35.625rem
}

.text p+h3 {
    margin-top: 7.8125rem;
    margin-top: 4.0625rem
}

@media (max-width:767px) {
    .text p+h3 {
        margin-top: 4.0625rem
    }
}

p+p {
    margin-top: 1.52em
}

.highlight {
    font-family: ShipleyRegular;
    font-size: 5.5rem;
    max-width: 12em;
    margin-top: 2.7em;
    margin-bottom: 2.25em;
    line-height: 1.25;
    letter-spacing: .1em;
    margin-left: 14.0625vw
}

@media (max-width:767px) {
    .highlight {
        font-size: 1.53125rem;
        margin-left: 0;
        padding-right: 1.5em;
        max-width: 100%
    }
}

.highlight p {
    width: 106.25%
}

.small-heading {
    margin-top: 3.125rem;
    height: 2.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    font-family: ShipleyRegular;
    line-height: 2.5;
    letter-spacing: .4em
}

@media (max-width:767px) {
    .small-heading {
        font-size: .78125rem
    }
}

.small-heading:first-child+.heading-separator {
    margin-top: 7.375rem
}

@media (max-width:767px) {
    .small-heading:first-child+.heading-separator {
        margin-top: 4.0625rem
    }
}

.heading-separator {
    display: block;
    width: 1px;
    height: 3.625rem;
    margin-top: 3.625rem;
    margin-bottom: 3.625rem;
    background-color: rgba(0, 0, 0, .32);
    margin-left: auto;
    margin-right: auto;
    position: relative
}

@media (max-width:767px) {
    .heading-separator {
        height: 2rem
    }
}

.heading-separator .small-heading {
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    transform-origin: 0 50%;
    transform: rotate(-90deg) translateX(-100%);
    margin-left: .2em;
    margin-top: 1rem
}

@media (max-width:767px) {
    .heading-separator .small-heading {
        transform: translateX(-50%)
    }
}

.row {
    display: flex
}

.row.align-center {
    align-items: center
}

.block {
    flex: 1;
    display: flex;
    flex-direction: column
}

@media (max-width:767px) {
    .block {
        max-width: 100%
    }
}

.image-helper {
    position: relative
}

.image-holder {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover
}

.hider {
    overflow: hidden
}

.block-component+.block-component {
    margin-top: 8.75rem
}

@media (max-width:767px) {
    .block-component+.block-component {
        margin-top: 4.0625rem
    }
}

.underline:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform .625s ease
}

.underline:hover:after {
    transform: scaleX(1)
}

.center[data-v-656642e8] {
    margin-left: -17.25rem;
    padding-top: 8.125rem
}

@media (max-width:767px) {
    .center[data-v-656642e8] {
        margin-left: auto;
        padding-top: 4.0625rem
    }
}

.title[data-v-4df85db3] {
    margin-left: -22.5rem;
    padding-left: 3.125vw
}

.column[data-v-4df85db3] {
    max-width: 70.25rem;
    margin-left: -36.5rem;
    -moz-column-gap: 3.5rem;
    column-gap: 3.5rem
}

@media (max-width:767px) {
    .column[data-v-4df85db3] {
        margin-left: auto;
        max-width: 23.4375rem
    }
}

.block-image[data-v-276bfef9] {
    width: 100%;
    display: block;
    background-color: #000;
    padding-top: 0;
    overflow: hidden
}

@media (max-width:767px) {
    .block-image[data-v-276bfef9] {
        width: calc(50vw + 9.5rem);
        margin-left: auto
    }
}

.spacer[data-v-276bfef9] {
    padding-bottom: 59.4758064516%;
    background-position: 50% 50%;
    background-size: cover
}

img[data-v-276bfef9] {
    display: none
}

.highlight[data-v-a4dd3576] {
    margin-left: -37vw
}

@media (max-width:767px) {
    .highlight[data-v-a4dd3576] {
        margin-left: auto;
        margin-top: 4.0625rem;
        margin-bottom: 4.0625rem
    }
}

.cta[data-v-9b83b0de] {
    font-size: .625rem;
    line-height: 1;
    letter-spacing: .2em;
    font-family: ShipleyRegular;
    color: #464340;
    display: inline-flex;
    align-items: center
}

.cta:hover .caption[data-v-9b83b0de]:after {
    transform: scaleX(1)
}

.icon[data-v-9b83b0de] {
    margin-right: 1.2em;
    width: 2.625em;
    height: 2.625em;
    background-image: url(/assets/images/download.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: -.5em
}

.caption[data-v-9b83b0de] {
    position: relative;
    display: flex;
    line-height: 2.625em
}

.caption[data-v-9b83b0de]:after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    margin: -1.5em auto 0;
    background-color: #c23d2a;
    transform: scaleX(0);
    transition: transform .5s ease-out;
    position: absolute;
    bottom: 0
}

.footer[data-v-3f4d506d] {
    border-top: 1px solid rgba(0, 0, 0, .11);
    min-height: 37.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center
}

@media (max-width:767px) {
    .footer[data-v-3f4d506d] {
        min-height: 20.625rem
    }
}

.footer[data-v-3f4d506d] .caption {
    font-size: 5.5rem;
    line-height: 1;
    letter-spacing: .4em;
    font-family: ShipleyRegular;
    text-transform: uppercase;
    color: #c23d2a
}

@media (max-width:767px) {
    .footer[data-v-3f4d506d] .caption {
        font-size: 1.71875rem;
        line-height: 1.1818181818
    }
}

.footer .decoration[data-v-3f4d506d] {
    margin-top: 2.5rem;
    margin-bottom: -7.25rem
}

@media (max-width:767px) {
    .footer .decoration[data-v-3f4d506d] {
        margin-bottom: -2.5rem
    }
}

.footer .decoration[data-v-3f4d506d]:before {
    content: "";
    display: block;
    width: 1px;
    height: 4.375rem;
    background-color: #000;
    margin-left: auto;
    margin-right: auto
}

@media (max-width:767px) {
    .footer .decoration[data-v-3f4d506d]:before {
        height: 2.1875rem
    }
}

.footer .decoration[data-v-3f4d506d]:after {
    content: "";
    display: block;
    width: .8125rem;
    height: 1px;
    background-color: #000;
    margin-left: auto;
    margin-right: auto
}

@media (max-width:767px) {
    .footer .decoration[data-v-3f4d506d]:after {
        width: .40625rem
    }
}

.prepend[data-v-3f4d506d] {
    display: block;
    font-size: 1.5625rem;
    letter-spacing: .15em;
    margin-bottom: 2em;
    font-family: ShipleyRegular
}

@media (max-width:767px) {
    .prepend[data-v-3f4d506d] {
        font-size: 1em;
        margin-bottom: 1.3em
    }
}

.notice[data-v-3f4d506d] {
    position: absolute;
    bottom: 3.125vw;
    left: 3.125vw;
    font-size: .75rem;
    letter-spacing: .05em;
    line-height: 1.2;
    color: #625e54;
    font-style: italic;
    font-family: ShipleyRegular;
    opacity: .6
}

@media (max-width:767px) {
    .notice[data-v-3f4d506d] {
        display: none
    }
}

.details[data-v-d54eb1b8] {
    background-color: #fdfcf5
}

.section[data-v-d54eb1b8] {
    min-width: 35.4166666667vw;
    margin-left: 32.2916666665vw;
    margin-right: auto;
    border-left: 1px solid rgba(0, 0, 0, .05);
    padding-left: 3.6458333333vw;
    padding-right: 3.6458333333vw
}

@media (max-width:767px) {
    .section[data-v-d54eb1b8] {
        min-width: auto;
        margin-left: auto;
        border-left: none;
        padding-left: 0;
        padding-right: 0
    }
}

.section-sizer[data-v-d54eb1b8] {
    width: 100%
}

.ground-header[data-v-d54eb1b8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    width: 35.4166666667vw
}

@media (max-width:767px) {
    .ground-header[data-v-d54eb1b8] {
        width: auto;
        padding-bottom: 4.0625rem
    }
}

.title-holder[data-v-d54eb1b8] {
    position: relative
}

h2[data-v-d54eb1b8] {
    font-size: 5rem;
    letter-spacing: .2em;
    line-height: 1.1875;
    font-family: ShipleyRegular
}

@media (max-width:767px) {
    h2[data-v-d54eb1b8] {
        font-size: 2.5rem;
        margin-bottom: 1.2em
    }
}

.wine-header h2[data-v-d54eb1b8] {
    color: #c23d2a;
    font-size: 4.375rem;
    line-height: 1.2857142857;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

@media (max-width:767px) {
    .wine-header h2[data-v-d54eb1b8] {
        font-size: 2.1875rem
    }
}

h2[data-v-d54eb1b8] p:nth-child(2),
h2[data-v-d54eb1b8] p:nth-child(3) {
    text-align: right
}

h2[data-v-d54eb1b8] p:first-child:last-child {
    text-align: center
}

h2[data-v-d54eb1b8] p+p {
    margin: 0
}

h2.transparent[data-v-d54eb1b8] {
    color: transparent
}

.specifications[data-v-d54eb1b8] {
    font-size: 1rem;
    line-height: 1.875;
    letter-spacing: .05em
}

@media (max-width:767px) {
    .specifications[data-v-d54eb1b8] {
        font-size: .78125rem;
        line-height: 1.4
    }
}

.specifications.center[data-v-d54eb1b8] {
    display: flex;
    flex-direction: column;
    align-items: center
}

.specifications.main[data-v-d54eb1b8] p {
    display: block;
    text-align: center
}

@media (max-width:767px) {
    .specifications.main[data-v-d54eb1b8] p {
        white-space: normal
    }
}

.specifications[data-v-d54eb1b8] p {
    margin: 0
}

.description[data-v-d54eb1b8] {
    margin-top: 6.5em;
    margin-bottom: 5em
}

@media (max-width:767px) {
    .description[data-v-d54eb1b8] {
        margin-top: 4.0625rem;
        margin-bottom: 4.0625rem
    }
}

.description[data-v-d54eb1b8] p {
    font-size: 1.5625rem;
    line-height: 1.52
}

@media (max-width:767px) {
    .description[data-v-d54eb1b8] p {
        font-size: .9375rem
    }
}

.full-page[data-v-d54eb1b8] {
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-align: center
}

.full-page .image-helper[data-v-d54eb1b8] {
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    display: inline-block;
    background-color: #000;
    margin-left: auto
}

.full-page .image-helper img[data-v-d54eb1b8] {
    width: 100vw;
    height: auto;
    display: block;
    max-width: 1920px
}

.underground-section[data-v-d54eb1b8] {
    padding-top: 10rem;
    width: 45vw;
    padding-left: 3.90625vw;
    padding-right: 3.90625vw
}

@media (max-width:767px) {
    .underground-section[data-v-d54eb1b8] {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 23.4375rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        padding-top: 4.0625rem
    }
}

.underground[data-v-d54eb1b8] {
    position: relative
}

.underground h3[data-v-d54eb1b8] {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: .2em;
    font-family: ShipleyRegular;
    height: 14.125rem;
    display: flex;
    align-items: center;
    margin-bottom: 3.125em
}

@media (max-width:767px) {
    .underground h3[data-v-d54eb1b8] {
        height: 6rem;
        line-height: 1.2857142857
    }
}

.underground .decorator[data-v-d54eb1b8] {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 10rem;
    top: 0;
    left: 0
}

@media (min-width:768px) {
    .underground .decorator[data-v-d54eb1b8] {
        width: 54rem;
        margin-top: -52rem
    }
}

@media (max-width:767px) {
    .underground .decorator[data-v-d54eb1b8] {
        margin-top: -27rem
    }
}

.underground .decorator .image-helper[data-v-d54eb1b8] {
    background-position: 50% 0;
    background-size: 0;
    width: 75%;
    height: auto;
    left: 16%;
    background-repeat: no-repeat
}

.underground .decorator img[data-v-d54eb1b8] {
    width: 100%;
    height: auto
}

.underground .decorator[data-v-d54eb1b8] canvas {
    position: static
}

.underground .entry[data-v-d54eb1b8] {
    height: 14.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family: ShipleyRegular;
    font-size: 1.125rem;
    line-height: 1.3888888889;
    letter-spacing: .05em
}

@media (max-width:767px) {
    .underground .entry[data-v-d54eb1b8] {
        height: 7.75rem;
        font-size: .9375rem
    }
}

.underground .entry[data-v-d54eb1b8]:before {
    content: "";
    display: block;
    width: 100vw;
    position: absolute;
    top: 0;
    left: -1px;
    margin-left: -36.19792vw;
    height: 1px;
    background-color: rgba(0, 0, 0, .05)
}

.wine-cta[data-v-d54eb1b8] {
    position: fixed;
    right: 3.125rem;
    top: 3.125rem;
    min-height: 2.625rem;
    font-size: 14px;
    font-family: ShipleyRegular;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    letter-spacing: .4em;
    z-index: 5;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding-bottom: .2em
}

@media (max-width:767px) {
    .wine-cta[data-v-d54eb1b8] {
        right: 1.5rem;
        top: 1.5rem
    }
}

.wine-section[data-v-d54eb1b8] {
    position: relative
}

.wine-header[data-v-d54eb1b8] {
    display: inline-block;
    padding-left: 3.125vw;
    padding-right: 3.125vw
}

@media (max-width:767px) {
    .wine-header[data-v-d54eb1b8] {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 23.4375rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

.wine-header .small-heading[data-v-d54eb1b8] {
    text-transform: uppercase
}

@media (max-width:767px) {
    .small-heading[data-v-d54eb1b8] {
        margin-top: 7.375rem
    }
}

.packshot[data-v-d54eb1b8] {
    width: 62.5%;
    height: 0;
    padding-bottom: 96.25%;
    position: relative;
    margin: 14rem auto 10rem
}

@media (max-width:767px) {
    .packshot[data-v-d54eb1b8] {
        margin: 7rem auto 3.125rem
    }
}

.packshot .packshot-helper[data-v-d54eb1b8] {
    position: absolute;
    width: 100%;
    height: 100%
}

.packshot .image-helper[data-v-d54eb1b8] {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat
}

.packshot[data-v-d54eb1b8]:after {
    content: "";
    display: block;
    background-image: url(/assets/images/wines/shadow.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 150%;
    height: 0;
    padding-bottom: 150%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(35%);
    z-index: -1
}

.wine-content[data-v-d54eb1b8] {
    margin-left: 32.291667vw;
    padding-left: 18.648vw;
    padding-right: 0;
    margin-right: 0
}

@media (max-width:767px) {
    .wine-content[data-v-d54eb1b8] {
        margin-left: 0;
        padding-left: 0
    }
}

.wine-content .cta[data-v-d54eb1b8] {
    margin-bottom: 8.5rem
}

@media (max-width:767px) {
    .wine-content .cta[data-v-d54eb1b8] {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 23.4375rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem
    }
}

.heading-description[data-v-d54eb1b8] {
    width: 30vw;
    margin-top: 8.125rem;
    margin-bottom: 10rem
}

.wine-sup-content[data-v-d54eb1b8] {
    margin-top: 12.5rem
}

.small-fixed[data-v-d54eb1b8] {
    font-family: ShipleyRegular;
    font-size: 1rem;
    letter-spacing: .25em;
    text-transform: uppercase
}

@media (max-width:767px) {
    .small-fixed[data-v-d54eb1b8] {
        display: none
    }
}

h1.small-fixed[data-v-d54eb1b8] {
    position: absolute;
    left: 18%;
    transform: translateX(-50%);
    top: 0
}

a.small-fixed[data-v-d54eb1b8] {
    position: absolute;
    right: 10.625rem;
    top: 0
}

.navigator[data-v-d54eb1b8] {
    font-family: ShipleyRegular;
    position: fixed;
    top: 20rem;
    left: 32.2916666665vw;
    text-align: center;
    transform: translateX(-50%);
    letter-spacing: .25em;
    margin-left: .5px;
    height: 100%
}

@media (max-width:767px) {
    .navigator[data-v-d54eb1b8] {
        display: none
    }
}

.navigator .decorator[data-v-d54eb1b8] {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: .3em;
    position: absolute;
    top: 1.2em;
    left: 50%;
    margin-left: -2px
}

.navigator .secant[data-v-d54eb1b8] {
    height: 6.5em
}

.navigator .secant .caption[data-v-d54eb1b8] {
    opacity: .5;
    text-align: center;
    margin-left: .1em;
    transition: opacity .625s
}

.navigator.idx-1[data-v-d54eb1b8]:after {
    transform: translateY(6.5em)
}

.navigator.idx-2[data-v-d54eb1b8]:after {
    transform: translateY(13em)
}